@import "./base.css";

#app {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

.btn {
  margin: 0.5rem 0;
  padding: 0.5rem 1rem;
  font-size: 15px;
  font-family: inherit;
  border: 2px solid #000;
  background-color: #9f9f9f;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}
