<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Basics</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue@3" defer></script>
    <script src="app.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Vue Course Goals</h1>
    </header>
    <section id="user-goals">
      <h2>My course goals</h2>  
      <input type="text" v-model="enteredValue" placeholder="New wish" @keyup.enter="addGoal" />
      <button @click="addGoal">Add Goal</button>

      <p v-if="goals.length === 0">No goals have been added yet - please start adding some!</p>
      <!-- v-else-if доступен для остальных условий -->
      <!-- v-show "условие" - альтернатива, но элемент не пропадает, а скрывается
      его отображение в css, для того блока, где условие выполнено (display: none;) -->
      <ul v-else>

        <!-- помимо перебора goals есть опция взять индекс элемента вторым ключевым словом в скобках -->
        <!-- в key можно указать ключевой элемент по которому будет идти удаление, при указании индекса,
        динамически будет удаляться текст, но не содержимое инпута, при указании же самого значения
        которое считается статическим, будет удаляться все содержимое находящееся в блоке, оставляя
        только индекс, который изменится сам по себе и перенос доп инфы будет корректным -->
        <li v-for="(goal, index) in goals" :key="goal" @click="removeGoal(index)">
          <p>index {{ index }} | {{ goal }}</p>
          <input type="text" @click.stop placeholder="Additional info">
        </li>
      </ul>

      <!-- <ul>
        перебор объектов через v-for, вторым именем можно достать ключ объекта
        <li v-for="(val, key) in {first: 'All wishes', second: 'On top'}">{{ key }}: {{ val }}</li>
      </ul> -->

      <!-- <ul>
        перебор чисел
        <li v-for="number in 10">{{ number }}</li>
      </ul> -->
    </section>
  </body>
</html>
